.sidebar-wrapper-2 {
  width: 100vw;
  height: fit-content;
  /* background-color: var(--translucent-bg-light); */
  height: calc(100svh - 60px);
  position: fixed;
  z-index: 400;
  top: 60px;
  transition: 1s ease;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: var(--accent-color);
  border-top: 1px solid var(--translucent-bg-reverse);
  padding: 10px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.sidebar-control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.sidebar-list::-webkit-scrollbar {
  display: none;
}

.sidebar-list {
  overflow-y: auto;
  height: 100%;
}

.sidebar-control i {
  color: #fff;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.sidebar > * {
  color: #fff;
}

.sidebar-wrapper {
  border-bottom: 1px solid var(--translucent-bg-reverse);
  padding-bottom: 15px;
  padding-top: 20px;
}
.sidebar-wrapper:first-child {
  padding-top: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.sidebar-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sidebar-item:hover i {
  transform: translateX(0);
}

.sidebar-item i {
  font-size: 13px;
  transform: translateX(-5px);
}

.sidebar-item p {
  font-size: 14px;
}

.sidebar-wrapper-title {
  margin-bottom: 8px;
}
