.recommended {
  /* padding: 0 20px; */
  width: 100%;
  height: 100%;
}

.recommended .title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recommended .list {
  display: flex;
  gap: 20px;
  overflow-y: auto;
  margin-top: 20px;
  padding: 5px 0 20px;
}
.recommended .list .product-card {
  flex-shrink: 0;
}

@media screen and (max-width: 800px) {
  .recommended .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
  }
}
